<div class="container">
    <div class="row">
      <div class="offset-md-4 col-md-4">
        <form class="form" method="POST">
            <fieldset>
                <legend>Job Description</legend>
                <div>
                    <label for="jobIDField">Job ID</label>
                    <input type="text" class="form-control" id="jobIDField"
                    name="jobID" required>
                </div> 
            </fieldset>
            
            <fieldset>                
            <div >
                <label for="jobTitleField">Job Title</label>
                <input type="text" class="form-control" id="jobTitleField"
                name="jobTitle" readonly>
            </div> 
            </fieldset>

            <fieldset>
                <div >
                    <label for="minSalField">Minimum Salary</label>
                    <input type="text" class="form-control" id="minSalField"
                    name="minSal" readonly>
                </div> 
            </fieldset>

            <fieldset>
                <div >
                    <label for="maxSalField">Max Salary</label>
                    <input type="text" class="form-control" id="maxSalField"
                    name="maxSal" readonly>
                </div> 
            </fieldset>

            <fieldset class="form-group text-right">
                <input type="submit" class="btn btn-success" value="Create Job">
                <a href="/">
                    <input type="button" class="btn btn-warning" value="Cancel">
                </a>
            </fieldset>
        </form>
